{% extends "base.html" %}
{% block content %}
{% load static %}
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-text">
                        <h2>Contact Info</h2>
                        <p>If you want have any problem. Contact us</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">Address:</td>
                                    <td>lalitpur, Nepal</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Phone:</td>
                                    <td>(+977) 9742822635</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>rcabinash2020@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="map">
                <iframe
                   src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3533.9255922793222!2d85.31978207538016!3d27.65777372767629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjfCsDM5JzI4LjAiTiA4NcKwMTknMjAuNSJF!5e0!3m2!1sen!2snp!4v1733947166126!5m2!1sen!2snp"
                    height="470" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}